---
import {getCollection, CollectionEntry} from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import Main from '../../components/blog/Main.astro'
import H1 from '../../components/blog/H1.astro'
import ShareBtn from '../../components/ShareBtn.astro'
import LessonTopMenu from 'components/LessonTopMenu.astro'


export const getStaticPaths =async () =>{
    const blog = await getCollection('blog')
    const paths = blog.map(blog=>{
        return {
            params: {
                slug:blog.slug
            },
            props: {
                blog
            }
        }
    })
    return paths;
}

type Props={
    blog: CollectionEntry<"blog">
}

const {blog} = Astro.props
const {Content} = await blog.render()
---
<Layout title={blog.data.title}>
<LessonTopMenu/>
<Main>
<H1 text={blog.data.title}/>
<ShareBtn/>
<div class="prose lg:prose-2xl md:prose-xl sm:prose-lg overflow-visible relative mb-20 text-gray-800 dark:text-white dark:prose-headings:text-white dark:prose-code:text-white dark:prose-blockquote:text-white">
<Content/>
</div>
</Main>
</Layout>