---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Loader from 'components/nav/Loader.astro';
import CourseButtons from 'components/CourseButtons.astro';

---


<Layout title="W3SchoolUz Courses">
<main>  
<Loader/>    
<Hero/>
<div class="flex flex-col py-5 px-4 items-center">
<h1 class="text-gray-800 dark:text-white text-4xl font-bold  py-3 pb-5">
    <span class="text-emerald-400">Web Dasturlash</span> Kurslari
</h1>

    <div class="flex items-center flex-wrap justify-center">
        <CourseButtons
        title='HTML'
        link="/lessons/html/html-intro"
        />

        <CourseButtons
        title='CSS'
        link="/lessons/css/css-intro"
        />

        <CourseButtons
        title='Javascript'
        link="lessons/js/js-intro.mdx"
        />

        <CourseButtons
        title='JQuery'
        link="lessons/jquery/jquery-intro.mdx"
        />

        <CourseButtons
        title='Bootstrap 5'
        link="lessons/jquery/jquery-intro.mdx"
        />

       

    </div>
    <div class="flex items-center flex-wrap justify-center">
        <CourseButtons
        title='Tailwind'
        link="lessons/jquery/jquery-intro.mdx"
        />

        <CourseButtons
        title='Onsen UI'
        link="lessons/jquery/jquery-intro.mdx"
        />

        <CourseButtons
        title='Materialize CSS'
        link="lessons/jquery/jquery-intro.mdx"
        />

        <CourseButtons
        title='UI kit'
        link="lessons/jquery/jquery-intro.mdx"
        />

        <CourseButtons
        title='Semantic UI'
        link="lessons/jquery/jquery-intro.mdx"
        />
    </div>
</div>
</main>
</Layout>

