---
interface Props{
  title:string;
  link:string;
}

const {title, link}=Astro.props
---

<a href={link} class="course-btn bg-white hover:bg-gray-100 border border-gray-200 dark:bg-gray-800 dark:border-gray-700 py-2 text-center text-xl text-gray-800 dark:text-emerald-400 mx-2 my-2">
    {title}
</a>


<style>
    .course-btn{
        width: 220px;
    }

    .course-btn:hover{
        box-shadow: 6px 4px 3px rgba(5, 31, 24, 0.616);
    }

    @media screen and (max-width:660px) {
        .course-btn{
        width: 100%;
    }
    }
</style>