<div class="dark:text-gray-300 text-zinc-900 text-2xl mb-24 max-sm:mb-14 flex items-center
        ">
            Do'stlaringiz bilan ulashing 
            
    <div class="shareon mb-4" data-url="https://w3school-uz.vercel.app/posts">
    <a class="copy-url"></a>
    <a class="facebook" data-title="W3Schooluz platformasi orqali bepul dasturlashni o'rganing..."></a>
    <a class="telegram" data-title="W3Schooluz platformasi orqali bepul dasturlashni o'rganing..."></a>
    <a class="pinterest"></a>
</div>

</div>

