<div class="sub-menu">
    <div class="sub-menu-item">
        <p class="text-lg text-yellow-300 my-3">Frontend</p>
        <ul id="front-parent">
           
        </ul>
    </div>

    <div class="sub-menu-item">

        <p class="text-lg text-yellow-300 my-3">Javascript</p>
        
        <ul id="js-parent">
            
        </ul>

    </div>

    <div class="sub-menu-item">

        <p class="text-lg text-yellow-300 my-3">Backend</p>
        
        <ul id="back-parent">
            
        </ul>

    </div>



</div>


<style>
     .sub-menu{
    width: 80%;
    margin: 20px 10%;
    display: flex;
    font-family: sans-serif;
    justify-content:space-between;
  }


   .sub-menu-item{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
   } 
</style>



