---
import SubMenu from "./SubMenu.astro";
---

<div class="primary-menu bg-gray-700">
<div class="menu-header">
    <h1 class="text-3xl font-bold text-emerald-400">Darslar</h1>

    <div class="bg-gray-600 rounded-full border border-emerald-400 text-gray-100">
      <input class="bg-transparent border-none outline-none focus:ring-transparent" type="text" placeholder="Filter..." readonly>
  </div>
    <select  class="bg-gray-600 rounded-lg border-none outline-none focus:ring-transparent text-gray-100">
      <option>Doimiy tartib</option>
  </select> 
         
</div>

<svg id="x-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 text-emerald-400 hover:text-emerald-500">
    <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd" />
  </svg>

<SubMenu/>
</div>


<style lang="css">
    .primary-menu{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        top:60px;
        left: 0;
        z-index: 999;
        user-select: none;
    }
    
    #x-icon{
        position: absolute;
        top: 30px;
        right: 40px;
        cursor: pointer;
    }
    
:root{
  --sb-track-color: #232E33;
  --sb-thumb-color: #5d5d5d;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

.primary-menu::-webkit-scrollbar {
  width: var(--sb-size) 
}

.primary-menu::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

.primary-menu::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  
  }

  .menu-header{
    width: 80%;
    margin: 20px 10%;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    justify-content: space-between;
  }
</style>


<script is:inline>
    $("#x-icon").click(()=>{
        $(".primary-menu").hide()
    })
   
</script>

<script is:inline>

var submenu={
    frontend:[
       {
        title:"HTML",
        badge:"New",
        link:"/lessons/html/html-intro"
       },
       {
        title:"CSS",
        badge:""
       },
       {
        title:"Bootstrap 5",
        badge:""
       },
       {
        title:"Tailwind",
        badge:"Hot"
       },
       {
        title:"Semantic UI",
        badge:"new"
       },
       {
        title:"Onsen UI",
        badge:""
       },
       {
        title:"Materalize CSS",
        badge:""
       },
       {
        title:"UI kit",
        badge:""
       }
    ],
    javascript:[
       {
          title:"Javascript",
          badge:"Hot"
       },
       {
          title:"Jquery",
          badge:""
       },
       {
          title:"React",
          badge:"new"
       },
       {
          title:"JSON",
          badge:""
       },
       {
          title:"Astro Js",
          badge:"Hot"
       }
  
      ],
      backend:[
       {
          title:"PHP",
          badge:"New"
       },
       {
          title:"Python",
          badge:"Hot"
       },
       {
          title:"Node Js",
          badge:"New"
       },
       {
          title:"SQL",
          badge:""
       },
       {
          title:"Django",
          badge:""
       },
       {
          title:"CodeIgniter",
          badge:"Hot"
       },
       {
          title:"Laravel",
          badge:"New"
       }
  
      ]
 }
     
     
     
 
  
 function sortSubMenuAlphabetically(submenu) {
    const sortedSubMenu = {};
  
    for (const category in submenu) {
      if (submenu.hasOwnProperty(category)) {
        sortedSubMenu[category] = submenu[category].sort((a, b) =>
          a.title.localeCompare(b.title)
        );
      }
    }
  
    return sortedSubMenu;
  }
 
  
 
 
 
  //Frontend menu
 
  submenu.frontend.forEach(el=>{
   var li = document.createElement("li")
   li.classList.add("text-gray-50", "cursor-pointer", "my-2")
 
   var spanWrapper=document.createElement("a")
   var spanName=document.createElement("span")
   var spanBadge=document.createElement("span")
 
   spanName.textContent=el.title
   spanBadge.textContent=el.badge
   spanWrapper.href=el.link
 
   spanWrapper.classList.add("hover:bg-gray-200", "rounded-lg", "py-2", "px-5", "text-gray-50", "hover:text-gray-800")
 
   spanName.classList.add("text-lg")
 
   spanBadge.classList.add("text-xs", "mx-1", "absolute", "text-white", "rounded", "px-2")
 
   if(el.badge==="Hot"){
      spanBadge.classList.add("bg-rose-600")
   }
   else{
      spanBadge.classList.add("bg-emerald-500")
   }
 
   li.appendChild(spanWrapper)
   spanWrapper.appendChild(spanName)
   spanWrapper.appendChild(spanBadge)
 
   document.getElementById("front-parent").appendChild(li)
  })
 
 
 //Javascript menu   
 
 
 submenu.javascript.forEach(el=>{
   var li = document.createElement("li")
   li.classList.add("text-gray-50", "cursor-pointer", "my-2")
 
   var spanWrapper=document.createElement("a")
   var spanName=document.createElement("span")
   var spanBadge=document.createElement("span")
 
   spanName.textContent=el.title
   spanBadge.textContent=el.badge
   //spanWrapper.href=el.link
 
   spanWrapper.classList.add("hover:bg-gray-200", "rounded-lg", "py-2", "px-5", "text-gray-50", "hover:text-gray-800")
 
   spanName.classList.add("text-lg")
 
   spanBadge.classList.add("text-xs", "mx-1", "absolute", "text-white", "rounded", "px-2")
 
   if(el.badge==="Hot"){
      spanBadge.classList.add("bg-rose-600")
   }
   else{
      spanBadge.classList.add("bg-emerald-500")
   }
 
   li.appendChild(spanWrapper)
   spanWrapper.appendChild(spanName)
   spanWrapper.appendChild(spanBadge)
 
   document.getElementById("js-parent").appendChild(li)
  })
 
 
  //Backend menu
 
 
  submenu.backend.forEach(el=>{
   var li = document.createElement("li")
   li.classList.add("text-gray-50", "cursor-pointer", "my-2")
 
   var spanWrapper=document.createElement("span")
   var spanName=document.createElement("span")
   var spanBadge=document.createElement("span")
 
   spanName.textContent=el.title
   spanBadge.textContent=el.badge
 
   spanWrapper.classList.add("hover:bg-gray-200", "rounded-lg", "py-2", "px-5", "text-gray-50", "hover:text-gray-800")
 
   spanName.classList.add("text-lg")
 
   spanBadge.classList.add("text-xs", "mx-1", "absolute", "text-white", "rounded", "px-2")
 
   if(el.badge==="Hot"){
      spanBadge.classList.add("bg-rose-600")
   }
   else{
      spanBadge.classList.add("bg-emerald-500")
   }
 
   li.appendChild(spanWrapper)
   spanWrapper.appendChild(spanName)
   spanWrapper.appendChild(spanBadge)
 
   document.getElementById("back-parent").appendChild(li)
  })

</script>